@page "/"

<PageTitle>Alliance Editor</PageTitle>

<h1>Use the alliance editor commands.</h1>
<h1>!alliance editor</h1>
<h1>!alliance accept</h1>
<br />
<h1>!alliance admineditor allianceName</h1>
<h1>!alliance adminaccept</h1>

